---
layout: base.njk
---
{% import "macros.njk" as m %}

{{ m.hero( 'This is my website: welcome!', "Hey 👋 I’m Silver. I'm a simple theme for Eleventy." )}}

{% call m.section2col(title = 'Titolo della sezione', subtitle = 'sottotitolo della sezione') %}
    <p>Ciao sono un paragrafo</p>
{%- endcall %}